<html>
<head>
	<title>My App</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div>
		<h1>RIDES</h1>
		<ul>
       		<% for(let i=0; i < rides.length; i++) { %>
       			<li><%= rides[i].desc%></li>
       		<% } %>
     	</ul>

		<form action="/add" method="post">
			<input type="text" name="newride"/>
			<input type="submit"/>
		</form>
	</div>
</body>
</html>