body {
	margin: 0;
	font-family: Roboto;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	max-width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
}

#login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	text-align: center;

}

.form input{
	font-family: "Roboto" sans-serif;
	background: #f2f2f2;
	width: 90%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 20px;
}

.form button{
	font-family: "Roboto" sans-serif;
	text-transform: uppercase;
	background: #ca9548;
	width: 96%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
}

.form button:hover, .form button:active{
	background: #dca350;
}

.form .message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 15px;
}

.form .message a{
	color: #ca9548;
	text-decoration: none;
}

.message a:hover, .message a:active{
	color: #dca350;
}

.form #register-form{
	display: none;
}

button a{
	text-decoration: none;
	color: #fff;
}

.navbar {
	background-color: #00BCD4;
	height: 4rem;
	padding: 1.5rem;
	position: absolute;
	top: 0;
	width: 100%;
}
.navbar .logo {
	color: #fff;
	font-size: 2rem;
	text-decoration: none;
	font-family: 'Kurale', serif;
}
.main-content {
	min-height: 100%
}
.main-content .jumbotron {
	position: absolute;
	width: 100%;
	top: 0;
	height: 82.3vh;
	background-image: url('../images/headerBackground.jpg');
	background-position: center;
	background-size: cover;
	top: 6rem;
	display: flex;
	justify-content: space-between;
	overflow: auto;
}
.main-content .jumbotron .signin-container {
	width: 30%;
	background: rgba(45, 20, 10, 0.7);
	margin: 3rem 2rem 15rem 2rem;
	height: 35rem;
	padding: 2rem;
}
.main-content .jumbotron .signin-container h1 {
	color: #fff;

}
.info-section {
	color: #ffff;
	font-size: 3rem;
	margin: 0 auto;
}
.info-section h1, .info-section h6 {
	text-align: center;
	font-family: 'Kurale', serif;
	margin: 1rem;
}
footer {
	height: 3rem;
	padding: 1.5rem;
	background-color: #00BCD4;
	position: absolute;
	bottom: 0;
	color: #fff;
	text-align: center;
	width: 100%;
}


/*Dashboar styling*/
.nav-link {
    float: right;
    list-style: none;
    color: #fff;
    margin: 0 2rem;
  }
  .nav-link li {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 1rem;
  }
  .nav-link li:hover {
    background-color: #6ccdda;
  }

  .nav-link a{
  	text-decoration: none;
  	color: #fff;
  }

  .requests-board {
    padding-top: 8rem;
    display: flex;
    justify-content: space-around;
}
.requests-card {
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  height: 320px;
}
.requests-card ul {
  list-style: none;
  padding: 0;
}
.requests-card ul > li {
  padding: 1rem;
  border-bottom: 1px dashed #ccc;
}
.join-ride-btn {
    padding: .8rem;
    border-radius: .3rem;
    font-size: 1rem;
    float: right;
    margin-right: 1rem;
    color: #00bcd4;
    cursor: pointer;
    border: 1px solid #00bcd4;
}
.join-ride-btn:hover {
  color: #fff;
  background-color: #00bcd4;
  border: 1px solid #fff;
}



/*Profile page */
.all_content{
	margin:auto;
}
#profile_grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-column-gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}
#profile_data{
    padding:5px;
    background-color:rgba(36, 35, 35, 0.637);
}

#profile_img{
    max-width:250px;
    max-height:250px;
    border-radius: 50%;
}

#profile_grid h1 strong, #profile_grid form label,#profile_grid form input{
    font-size: 18px;
    color:rgb(209, 209, 209);
}
#profile_grid form input{
    color: #808080;
    background-color: #222222;
    padding:10px;
    border:none;
}
#profile_grid form a{
    width:50px;
}

/*ride numbers */
#profile_grid div label{
    color: #e9e3e3;
    font-size: 16px;
    padding: 10px;
    margin:10px;
}
#profile_grid div span{
    font-size: 16px;
    border: solid 2px #dca350;
    padding: 10px;
    margin:10px;
    background-color: #222222;
    color:#808080;
}

/*table topic styling*/
 .ride_tables{
    height: 25px;
    width:20%;
    color:#fff;
    background-color:#dca350;
    text-align: center;
    padding-top:8px;
    
}
/*table styles */
table{
    box-sizing: border-box;
    border-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-size:15px;
}
table tr th{
    font-size: 15px;
    color:#dca350;
    line-height: 1.5;
    padding-top:16px;
    padding-bottom:16px;
    margin: 15px;
    text-transform: uppercase;
    background-color: #393939;
}
table tr td{
    font-size:17px;
    color: #808080;
    line-height: 1.5;
    background-color: #222222;
    padding-top:14px;
    padding-bottom:14px;
    padding-right: 10px;

}

